*{
    font-family: 'Nova Square',sans-serif;

}
.background-primary-image{
    background-image: url(res/jungle_background.png) !important;
    background-repeat: no-repeat;
    background-color: #080b1d;
    background-attachment: fixed;

}

.container-shadow{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}
.bg-darkblue{
    background-color: #080b1d;
}
.carousel{
    height:80vh;
}
.carousel img{
    height:80vh;
}

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 30px;
}
.background-about-us{
    /* height: 300px; */
    position: relative;
}
.about-us-text{
    position: absolute;
    bottom: 20%;
    left:40px;
    width: 50vw;
}
.modal-dark {
    background-color: rgba(0, 0, 0) !important; /* Adjust the opacity or color as needed */
}
.btn-download{
    box-shadow: inset 0 0 0 0 #014529;
    transition: ease-out 0.4s;

}
.btn-download:hover{
    box-shadow: inset 300px 0 0 0 #014529;
}
.card{
    transition: .3s transform ease;
}
.card:hover{
    transform: scale(1.05);
}


@media (max-width: 767.98px) {

    .background-about-us{
        font-size: xx-small;
    }
    .about-us-text{
        bottom:0;
    }
    .carousel{
        height: auto;
    }
    .carousel img{
        height: auto;
    }
   
}